
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Roboto", Arial, Helvetica, sans-serif;
    --color-header: white;
    --color-sidebar: #7E7F9A;
    --color-main: lightgrey;
    --color-nav-items: white;
    --color-cards: white;
    --color-prim-writing: #272838;
    --color-sec-writing: grey;
    --color-hover: #f1d6d1;
    --color-icon-light: invert(93%) sepia(92%) saturate(29%) hue-rotate(238deg) brightness(106%) contrast(100%);
    --color-icon-dark: invert(14%) sepia(10%) saturate(1394%) hue-rotate(198deg) brightness(100%) contrast(96%);
    --color-icon-hover: invert(50%) sepia(4%) saturate(1821%) hue-rotate(200deg) brightness(99%) contrast(91%);
}

body {
    display: grid;
    grid-template: 1fr 6fr / clamp(250px, 20vw , 350px) 1fr;
    height: 100vh;
    width: 100vw;
    color: var(--color-prim-writing);
}

header {
    display: grid;
    background-color: var(--color-header);
    grid-area: 1 / 2 / 2 / 3;
    grid-template: 1fr 1fr / 2fr 1fr;
    margin: 0px 30px;   
}

.container-search {
    grid-area: 1 / 1 / 2 / 2;
    display: inline-flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.search-icon{
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="search"] {
    border-radius: 15px;
    height: 30px;
    width: 300px;
    background-color: var(--color-main);
    border-style: none;
}

.search-icon img,
.notification-icon,
.acc-icon-small {
    height: 25px;
    filter: var(--color-icon-dark);
}

.search-icon img:hover,
.notification-icon:hover,
.acc-icon-small:hover {
    filter: var(--color-icon-hover);
}

.acc-icon-big {
    height: 50px;
}

.container-account {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.container-greeting {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.container-buttons {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button {
    width: 75px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid var(--color-sidebar);
    color: var(--color-header);
    background-color: var(--color-sidebar);
}

button:hover {
    color: var(--color-sidebar);
    background-color: var(--color-header);
}

main {
    background-color: var(--color-main);
}

.container {
    grid-area: 2 / 2 / 3 / 3;
    -webkit-box-shadow: inset 0px 4px 4px 0px rgba(155,155,155,0.67); 
    box-shadow: inset 0px 4px 4px 0px rgba(155,155,155,0.67);
    display: grid;
    grid-template: 2fr 3fr / 5fr 2fr;
    gap: 20px;
    height: 80%;
}

.container-projects {
    height: 900px;
    grid-area: 1 / 1 / 3 / 2;
    margin: 20px 0px 0px 20px;
}

.project-grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 25px;
}

.project-card {
    display: grid;
    grid-template-rows: 2fr 1fr;
    background-color: var(--color-cards);
    border-radius: 10px;
    border-left: 8px solid var(--color-hover);
    height: 250px;
}

.project-card:hover {
    border: 2px solid var(--color-sec-writing);
}

h3 {
    padding: 10px;
}

.project-title, .project-description {
    padding: 25px;
    padding-bottom: 0px;
}

.project-title {
    font-weight: bold;
}

.project-description {
    height: 160px;
    color: var(--color-sec-writing);
    overflow: auto;
}

.project-ui {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    margin-right: 25px;
}

.project-ui img {
    height: 20px;
    filter: var(--color-icon-dark);
}

.project-ui img:hover {
    filter: var(--color-icon-hover);
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
    margin: 20px 20px 0px 0px;
}

.feed, 
.users {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background-color: var(--color-cards);
    border-radius: 10px;
    padding: 25px;
}

.news-description {
    color: var(--color-sec-writing);
    font-size: 0.9rem;
}

.news-title {
    font-weight: bold;
    font-size: 0.9rem;;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0px 20px 0px 0px;
}

.users {
    padding: 20px;
}

.user {
    padding: 10px 0px;
    display: flex;
    gap: 10px;
}

.user > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.user-tag {
    font-size: 0.8rem;
}

.user-project {
    color: var(--color-sec-writing);
    font-size: 0.8rem;
}

.user img {
    height: 50px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-sidebar);
    grid-area: 1 / 1 / 3 / 2;
    color: var(--color-nav-items);
    font-weight: bold;
}

.dashboard-icon {
    height: 40px;
    filter: var(--color-icon-light);
}

a img {
    height: 20px;
    filter: var(--color-icon-light);
}

nav, 
.container-logo {
    margin: 20px;
}

.nav {
    display: grid;
    grid-auto-columns: 25px;
}

.container-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 10px;
}

li {
    list-style: none;
    padding: 10px;
}

li > a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--color-nav-items);
    font-size: 18px;
}

li > a:hover {
    text-decoration: underline;
}